* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  min-height: 100vh;
}

header {
  padding: 32px;
}

.logo {
  width: 100px;
}

.main_page {
  padding: 0 32px;
}

.title_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color_1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 10.8254px;
  color: #ce9898;
  margin-top: 64px;
}

.text_1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 10.8254px;
  color: #423a3a;
}

.two {
  margin: 16px 0;
}

#pp1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ce9898;
}

.adress {
  display: flex;
  justify-content: space-between;
  mix-blend-mode: normal;
  border: 1px solid #ce9898;
  border-radius: 28px;
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  margin-top: 32px;
  padding-left: 20px;
}

input[type="email"] {
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 64px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
  border: none;
}

.submit1 {
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  opacity: 0.5;
}

#error-div {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #f96464;
  display: none;
  position: absolute;
  left: 60px;
}

#red_circle {
  height: 0;
}

.btn {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop {
  display: none;
}

.desktop_img {
  display: none;
}

.mobile_img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .mobile_img {
    display: none;
  }

  .desktop_img {
    display: block;
    width: 610px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  body {
    display: flex;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-color: #fff7f7;
  }

  .main_container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  header {
    padding: 0;
  }

  .color_1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17.3206px;
    margin: 0;
  }

  .text_1 {
    font-size: 64px;
    line-height: 60px;
    letter-spacing: 17.3206px;
  }

  .logo {
    width: 158px;
  }

  .main_page {
    padding: 75px 165px 152px;
    position: relative;
  }

  .title_text {
    align-items: flex-start;
    margin-top: 136px;
  }

  #pp1 {
    width: 444px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
  }
  

  #error-div {
    margin-top: 4px;
    position: absolute;
    left: 197px;
  }

  .adress {
    margin-top: 40px;
    justify-content: space-between;
    padding-left: 32px;
    height: 56px;
    width: 445px;
    align-items: center;
    position: relative;
  }

  input {
    margin: unset;
    color: #423a3a;
  }

  .submit {
    width: 100px;
    height: 56px;
  }
}
